{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Simple MOOC Layout - Pure CSS</title>
  </head>
  <body>
    <div class="ui inverted grey labeled icon left inline vertical sidebar menu">
      <div class="ui celled list">
        <div class="item">
          <a class="item" href="{% url 'core:home' %}"><i class="large home middle aligned icon"></i>Inicio</a>
        </div>
        <div class="item">
          <a class="item" href="{% url 'courses:index' %}"><i class="book icon"></i>Cursos</a>
        </div>
        <div class="item">
          <a class="item"><i class="comments icon"></i>Forum</a>
        </div>
        <div class="item">
          <a class="item" href="{% url 'core:contact' %}"><i class="address card icon"></i>Contato</a>
        </div>
        <div class="item">
          <a class="item"><i class="sign-in icon"></i>Entrar</a>
        </div>
      </div>
    </div>
    
    <div class="ui inverted grey fixed stackable menu huge">
        <a class="item toggler"><i class="sidebar icon"></i>SIMPLE MOOC</a>
    </div>
    
    <div class="ui segments">
      <br>
      
      {% block content %} {% endblock %}

      <div class="ui center aligned inverted segment grey very padded">
        <h5>Copyright © 2018/2022 - Wesley Mendes | Simple MOOC - Uma simples plataforma de ensino a distância</h5>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI/semantic.min.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="{% static 'js/style.js' %}"></script>
    <script src="{% static 'Semantic-UI/semantic.min.js' %}"></script>
  </body>
</html>
