{% extends 'partials/base.html' %}

{% block content %}
<div class="ui secondary segment grey very padded">
  <div class="column">
    <p><h1 class="ui black header">Uma Simples Plataforma de Ensino a Distância</h1></p>
    <p>
      <h3 class="ui black header">O Simple MOOC visa simplificar o ensino a distância, provendo ferramentas objetivas e de fácil uso para cursos a distância.</h3>  
    </p>
    <button class="ui blue button">Saiba mais</button>
  </div>
</div>

<div class="ui segment very padded">
  <div class="ui stackable two column center align grid">
    <div class="eleven wide column">
      <p>
        <h4><u>VÍDEO-AULAS E MATERIAIS DIGITAIS</u></h4>
        <h5>Publique suas aulas</h5>
        O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
      </p>
    </div>
    <div class="five wide column">
      <img class="ui medium rounded image" src="https://simplemooc-wes.s3.amazonaws.com/static/img/video-aulas-materiais.png">
    </div>
  </div>

  <div class="ui stackable two column center align grid">
    <div class="five wide column">
      <img class="ui medium rounded image" src="https://simplemooc-wes.s3.amazonaws.com/static/img/forum-duvidas.png">
    </div>
    <div class="eleven wide column">
      <p>
        <h4><u>FÓRUM DE DÚVIDAS</u></h4>
        <h5>Interaja com seus Alunos</h5>
        No Simple MOOC você pode ter seu próprio sistema de fórum para que seus alunos possam interagir com você e com os outros alunos
      </p>
    </div>
  </div>

  <div class="ui stackable two column center align grid">
    <div class="eleven wide column">
      <p>
        <h4><u>EXERCÍCIOS</u></h4>
        <h5>Crie exercícios para avaliar seus alunos</h5>
        O Simple MOOC tem um sistema simples e prático para que o professor disponibilize vídeo-aulas e materiais digitais como: pdf's, slides, imagens ...
      </p>
    </div>
    <div class="five wide column">
      <img class="ui medium rounded image" src="https://simplemooc-wes.s3.amazonaws.com/static/img/exercicios.png">
    </div>
  </div>

  <div class="ui stackable two column center align grid">
    <div class="five wide column">
      <img class="ui medium rounded image" src="https://simplemooc-wes.s3.amazonaws.com/static/img/mural-avisos.png">
    </div>
    <div class="eleven wide column">
      <p>
        <h4><u>MURAL DE AVISOS</u></h4>
        <h5>Envie anúncios diretamente para os alunos</h5>
        Organize os avisos do seu curso de forma fácil e simples.
      </p>
    </div>
  </div>
</div>
{% endblock %}
