{% extends 'partials/base.html' %}

{% block content %}
<br>

<div class="ui segment very padded">
    <div class="ui stackable grid">
        <div class="column row">
            <div class="ui breadcrumb" style='padding-left: 15px;'>
                {% block breadcrumb_content %}
                <a class="section" href="{% url 'accounts:dashboard' %}">Meu painel</a>
                {% endblock breadcrumb_content %}
            </div>
        </div>
        <div class="four wide column">
            <div class="ui vertical accordion fluid menu">
                <div class="item">
                    <a class="title">
                        <i class="dropdown icon"></i>
                        Meus cursos
                    </a>
                    <div class="content">
                        <div class'item'>
                            <a class="item">
                                Curso 1
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a class="title">
                        <i class="dropdown icon"></i>
                        Configurações da conta
                    </a>
                    <div class="content">
                        <div class'item'>
                            <a class="item" href="{% url 'accounts:edit' %}">
                                Editar informações
                            </a>
                        </div>
                        <div class'item'>
                            <a class="item" href="{% url 'accounts:edit_password' %}">
                                Editar senha
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide column">
            <div class="ui segment dashboard transition hidden">
                {% block dashboard_content %}
                <h5 class="header">Seja bem-vindo, {{ user }}!</h5>
                {% endblock dashboard_content %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

