{% extends 'partials/base.html' %}

{% block content %}

<br>
<div class="ui segment very padded">
    <div class="ui centered column stackable grid container">
        <div class="eight wide column">
            <div class='ui fluid card login transition hidden'>
                {% if success %}
                <div class="content">
                    <div class="ui success message">
                        <i class="close icon"></i>
                        <div class="header">
                            Cheque sua caixa de e-mail para alterar a senha!
                        </div>
                    </div>
                </div>
                <meta http-equiv="refresh" content="3;url={% url 'accounts:login' %}"> 
                {% else %}
                <div class="content">
                    <div class='center aligned'>
                        <h2>Informe seu e-mail:</h2>
                    </div>
                </div>
                
                <div class="content">
                    <form class="ui form" action="#forget" method='POST'>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="field">
                            {{ field.label_tag}}
                            <div class="ui left icon input">
                                {{ field }}
                                <i class="envelope icon"></i>
                            </div>
                            
                            {% if field.errors %}
                            <div class="ui red message">
                                <i class="close icon"></i>
                                <div class="">{{ field.errors }}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="center aligned">
                            <div class="ui form">
                                <button type="submit" class="ui blue right labeled icon button"><i class="paper plane icon"></i>Enviar email</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}